#POSTGRES
POSTGRES_USER=pg123
POSTGRES_PASSWORD=pgpd1243
POSTGRES_DB=mydb
POSTGRES_URL=postgresql+asyncpg://pg123:pgpd1243@postgres:5432/mydb

#PGADMIN
PGADMIN_DEFAULT_EMAIL=example@gmail.com
PGADMIN_DEFAULT_PASSWORD=pgadmin



#REDIS 
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

#CORS
ALLOW_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
ALLOW_METHODS=*
ALLOW_HEADERS=*