POSTGRES_USER=pg123
POSTGRES_PASSWORD=pgpd1243
POSTGRES_DB=mydb

PGADMIN_DEFAULT_EMAIL=example@gmail.com
PGADMIN_DEFAULT_PASSWORD=pgadmin

POSTGRES_URL=postgresql+asyncpg://pg123:pgpd1243@postgres:5432/mydb